# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel


.next
apps/web/node_modules/.bin/autoprefixer
apps/web/node_modules/.bin/browserslist
apps/web/node_modules/.bin/next
apps/web/node_modules/.bin/tailwind
apps/web/node_modules/.bin/tailwindcss
apps/web/node_modules/.bin/tsc
apps/web/node_modules/.bin/tsserver
packages/config-eslint/node_modules/.bin/acorn
packages/config-eslint/node_modules/.bin/browserslist
packages/config-eslint/node_modules/.bin/eslint
packages/config-eslint/node_modules/.bin/tsc
packages/config-eslint/node_modules/.bin/tsserver
packages/tailwind-config/node_modules/.bin/tailwind
packages/tailwind-config/node_modules/.bin/tailwindcss
