.rotate-on-hover:hover .rotate-hidden.rotate-left {
  transition: transform 0.3s ease;
  transform: translateY(0.15rem) rotate(15deg);
}

.rotate-on-hover:hover .rotate-hidden.rotate-right {
  transition: transform 0.3s ease;
  transform: translateY(-0.15rem) rotate(-15deg);
}

.rotate-on-hover:hover .rotate-left {
  transition: transform 0.3s ease;
  transform: translateY(0.15rem) rotate(-15deg);
}

.rotate-on-hover:hover .rotate-right {
  transition: transform 0.3s ease;
  transform: translateY(-0.15rem) rotate(15deg);
}
