*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  background: none;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  a {
    background-color: transparent;
    text-decoration: none;
    color: inherit; 
  }
  

html{
  font-family:ui-monospace,Liberation Mono,Menlo,monospace
}