@tailwind base;
@tailwind components;
@tailwind utilities;


:root[data-gpts-theme="dark"] {
 --opengpts-gutter-bg-color: #1414145c;
 --opengpts-gutter-handle-bg-color: #fafafa33;

 --opengpts-primary-color: rgb(55, 113, 224);
 --opengpts-primary-text-color: rgba(var(--opengpts-fg-rgb), 0.65);
 --opengpts-primary-content-text-color: rgba(var(--opengpts-fg-rgb), 0.65);
 --opengpts-secondary-text-color: rgba(var(--opengpts-fg-rgb), 0.45);
 --opengpts-third-text-color: rgba(var(--opengpts-fg-rgb), 0.25);
 --opengpts-html-bg-color: black;
 --opengpts-option-box-bg-color: #1d1d1d;
 --opengpts-option-card-bg-color: #141414;
 --opengpts-option-card-border: 1px solid #303030;
 --opengpts-option-template-group-header-bg-color: var(--opengpts-option-box-bg-color);
 --opengpts-option-template-group-item-visible-bg-color: #242424;
 --opengpts-option-template-group-item-invisible-bg-color: #1d1d1d;
 --opengpts-attention-bg-color: #202020;
 --opengpts-attention-title-color: #2b6e62;
 --opengpts-sidebar-bg-color: #28282b;
 --opengpts-sidebar-shadow: 0 0 0 1px #303030;
 --opengpts-sidebar-footer-bg-color: #1f1f1f;
 --opengpts-sidebar-border-color: #303030;
 --opengpts-sidebar-footer-btn-bg-color: #424242;
 --opengpts-sidebar-footer-btn-color: var(--opengpts-primary-text-color);
 --opengpts-sidebar-model-btn-bg-color: #1f1f1f;
 --opengpts-sidebar-model-btn-elevated-bg-color: var(--opengpts-sidebar-bg-color);
 --opengpts-sidebar-model-btn-color: rgba(var(--opengpts-fg-rgb), 0.45);
 --opengpts-sidebar-model-btn-hover-bg-color: #353535;
 --opengpts-sidebar-image-action-btn-bg-color: #2f2f33;
 --opengpts-sidebar-image-action-btn-hover-bg-color: #39393d;
 --opengpts-sidebar-modal-btn-bg-color: #141414;

 --opengpts-sidebar-icon-bg-color: #1d1b36;
 --opengpts-sidebar-icon-hover-bg-color: rgb(92 91 96);

 --opengpts-sidebar-icon-border-color: #373638;
 --opengpts-sidebar-scrollbar-color: #363636;
 --opengpts-sidebar-scrollbar-hover-color: #2e2e2e;
 --opengpts-paste-btn-bg-color: var(--opengpts-sidebar-model-btn-bg-color);
 --opengpts-paste-btn-color: white;
 --opengpts-option-dropbox-bg-color: var(--opengpts-html-bg-color);
 --opengpts-tab-switch-color: rgba(255, 255, 255, 0.4);
 --opengpts-tab-switch-indicator-ask-bg-color: #1f3051;
 --opengpts-tab-switch-indicator-chat-bg-color: #372854;
 --opengpts-sidebar-vip-card-bg-color: #1f1f1f;
 --opengpts-message-divider-bg-color: #2b2b2e;
 --opengpts-webaccess-modal-banner-gradient: linear-gradient(
      312.41deg,
      rgba(50, 50, 50, 0.8) 33.24%,
      rgba(80, 80, 80, 0.8) 78.13%
    ),
    linear-gradient(318.56deg, rgba(50, 50, 50, 0.5) 41.66%, rgba(90, 90, 90, 0.5) 100.22%);
 --opengpts-float-btn-bg-color: #1d1b36;
 --opengpts-float-btn-border-color: #373638;
 --opengpts-float-btn-item-hover-bg-color: rgba(255, 255, 255, 0.08);
 --opengpts-search-bg-color: black;
 --opengpts-search-border-color: #3c4043;
 --opengpts-list-answer-color: #9aa0a6;
 --opengpts-markdown-code-btn-bg-color: #21262d;
 --opengpts-markdown-code-btn-border-color: rgba(240, 246, 252, 0.1);
 --opengpts-markdown-code-btn-hover-bg-color: #30363d;
 --opengpts-markdown-code-btn-hover-border-color: #8b949e;
 --opengpts-new-five-star-bg-color: rgba(240, 245, 255, 0.09);
 --opengpts-chat-page-bg-color: black;
 --opengpts-chat-page-bg-elps-1-op: 0.3;
 --opengpts-chat-page-bg-elps-2-op: 0.6;
 --opengpts-chat-page-bg-elps-3-op: 0.6;
 --opengpts-chat-page-bg-elps-4-bg-color: #000;
 --opengpts-chat-page-main-border: 1px solid var(--opengpts-sidebar-border-color);
 --opengpts-chat-ai-bubble-bg-color: #303034;
 --opengpts-chat-user-bubble-color: rgba(var(--opengpts-fg-rgb), 0.9);
 --opengpts-chat-user-bubble-prompt-color: rgba(var(--opengpts-fg-rgb), 0.5);
 --opengpts-chat-primary-color: #784dca;
 --opengpts-chat-primary-opacity-color: rgba(121, 77, 202, 0.75);
 --opengpts-chat-primary-bg-color: #1f1f1f;
 --opengpts-chat-error-color: #f44336;
 --opengpts-chat-wel-bg-color: #251f36;
 --opengpts-chat-new-btn-bg-color: #372854;
 --opengpts-chat-send-btn-hover-color: #a078e0;
 --opengpts-chat-ai-bubble-sup-bg-color: rgb(139 87 234 / 23%);
 --opengpts-dropdown-item-hover-bg-color: rgba(255, 255, 255, 0.08);
 --opengpts-dropdown-item-selected-color: #1c1729;
 --opengpts-dropdown-item-selected-hover-bg-color: #291f40;
 --opengpts-chatgpt-msg-block-bg-color: rgba(0, 0, 0, 0.45);
 --opengpts-chatgpt-msg-block-running-bg-color: rgba(220, 252, 231, 0.2);
 --opengpts-chatgpt-msg-block-hover-bg-color: black;
 --opengpts-quote-bg-color: rgba(245, 245, 255, 0.09);
 --opengpts-quote-popup-bg-color: #3a3a3e;
 --opengpts-file-action-btn-bg-color: #424247;
 --opengpts-compose-opts-bg-color: rgba(var(--opengpts-fg-rgb), 0.1);
 --opengpts-compose-opts-btn-bg-color: #424242;
 --opengpts-translate-resultbox-bg-color: #212123;
 --opengpts-translate-resultbox-border-color: #2b2b2e;
 --opengpts-OCR-box-bg-color: #222;
 --opengpts-OCR-border-color: #353535;
 --opengpts-enchance-bg-color: #000;
 --opengpts-quick-action-bg-color: #000;
 --opengpts-quick-action-bg-color-2: #333;
 --opengpts-quick-action-btn-bg-color: #111;
 --opengpts-quick-action-border-color: #444;
 --opengpts-quick-action-item-selected-bg-color: #8a57ea;
 --opengpts-fg-rgb: 255, 255, 255;
 --opengpts-bg-rgb: 0, 0, 0;
 --opengpts-switchbar-bg-color: #212123;
 --opengpts-switchbar-btn-hover-bg-color: #2f2f32;
 --opengpts-switchbar-shadow: var(--opengpts-sidebar-shadow);
 --opengpts-fivestar-bg-color: #1c1c1c;
 --opengpts-fivestar-feedback-btn-bg-color: #111;
 --opengpts-upgrade-modal-list-bg-color: rgba(62, 46, 91, 0.5);
 --opengpts-upgrade-modal-title-bg: linear-gradient(0deg, rgba(50, 197, 255, 1), rgba(182, 32, 224, 1));
 --opengpts-upgrade-modal-title-bg-color: linear-gradient(152.9deg, #3e2e5b 0%, #28282b 44.24%),
    linear-gradient(95.96deg, #8a57ea 8.04%, #3771e0 57.11%);
 --opengpts-upgrade-modal-rockets-bg: linear-gradient(90deg, rgba(197, 171, 245, 0.3) 0%, rgba(197, 171, 245, 0) 100%);
}

:root,
:host {
 --opengpts-gutter-bg-color: #e5e7eb;
 --opengpts-gutter-handle-bg-color: #fff;

  --plasmo-opengpts-sidebar-width: 458px;
  --plasmo-sidebar-border-color: #ececec;
  --plasmo-sidebar-bg-color: rgba(255, 255, 255, 1);

 --opengpts-primary-color: #3771e0;
 --opengpts-primary-text-color: rgba(var(--opengpts-fg-rgb), 0.8);
 --opengpts-primary-content-text-color: rgba(var(--opengpts-fg-rgb), 0.65);
 --opengpts-primary-title-color: rgba(var(--opengpts-fg-rgb), 0.8);
 --opengpts-secondary-text-color: rgba(var(--opengpts-fg-rgb), 0.4);
 --opengpts-third-text-color: rgba(var(--opengpts-fg-rgb), 0.25);
 --opengpts-html-bg-color: rgb(240, 242, 245);
 --opengpts-option-box-bg-color: #f9fafc;
 --opengpts-option-card-bg-color: white;
 --opengpts-option-card-border: 1px solid #f0f0f0;
 --opengpts-border-radius-lg: 12px;
 --opengpts-border-radius: 8px;
 --opengpts-option-dropbox-bg-color: rgb(235, 236, 240);
 --opengpts-option-template-group-header-bg-color: #fafafa;
 --opengpts-option-template-group-item-visible-bg-color: white;
 --opengpts-option-template-group-item-invisible-bg-color: rgba(255, 255, 255, 0.6);
 --opengpts-attention-bg-color: #f4fbf9;
 --opengpts-attention-title-color: #2b6e62;
 --opengpts-sidebar-bg-color: white;
 --opengpts-sidebar-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
 --opengpts-sidebar-footer-bg-color: #f8f8f8;
 --opengpts-sidebar-border-color: #ececec;
 --opengpts-sidebar-footer-btn-bg-color: white;
 --opengpts-sidebar-footer-btn-color: #858585;
 --opengpts-sidebar-model-btn-bg-color: #f7f7f8;
 --opengpts-sidebar-model-btn-elevated-bg-color: var(--opengpts-sidebar-bg-color);
 --opengpts-sidebar-model-btn-color: rgba(var(--opengpts-fg-rgb), 0.45);
 --opengpts-sidebar-model-btn-hover-bg-color: #ededed;
 --opengpts-sidebar-image-action-btn-bg-color: #f5f5f5;
 --opengpts-sidebar-image-action-btn-hover-bg-color: #efefef;
 --opengpts-sidebar-modal-btn-bg-color: #ebecef;

 --opengpts-sidebar-icon-bg-color: #f8f8f8;
 --opengpts-sidebar-icon-hover-bg-color: var(--opengpts-primary-color);

 --opengpts-sidebar-icon-border-color: #ececee;
 --opengpts-sidebar-scrollbar-color: #e1e1e1;
 --opengpts-sidebar-scrollbar-hover-color: #d9d9d9;
 --opengpts-paste-btn-bg-color: #cbcbcb;
 --opengpts-paste-btn-color: white;
 --opengpts-tab-switch-color: rgba(0, 0, 0, 0.4);
 --opengpts-tab-switch-indicator-ask-bg-color: rgba(55, 113, 224, 0.1);
 --opengpts-tab-switch-indicator-chat-bg-color: rgba(237, 231, 246, 1);
 --opengpts-sidebar-vip-card-bg-color: #f6f4fa;
 --opengpts-message-divider-bg-color: #e9e9ef;
 --opengpts-webaccess-modal-banner-gradient: linear-gradient(
      312.41deg,
      rgba(255, 255, 255, 0.8) 33.24%,
      rgba(231, 229, 252, 0.8) 78.13%
    ),
    linear-gradient(318.56deg, rgba(255, 255, 255, 0.5) 41.66%, rgba(251, 198, 159, 0.5) 100.22%);
 --opengpts-float-btn-bg-color: #f8f8f8;
 --opengpts-float-btn-border-color: #e9e9ef;
 --opengpts-float-btn-item-hover-bg-color: #f0f1f5;
 --opengpts-search-bg-color: white;
 --opengpts-search-border-color: #dadce1;
 --opengpts-list-answer-color: #4d5156;
 --opengpts-markdown-code-btn-bg-color: #f6f8fa;
 --opengpts-markdown-code-btn-border-color: rgba(27, 31, 36, 0.15);
 --opengpts-markdown-code-btn-hover-bg-color: #f3f4f6;
 --opengpts-markdown-code-btn-hover-border-color: rgba(27, 31, 36, 0.15);
 --opengpts-new-five-star-bg-color: #f0f1f5;
 --opengpts-chat-page-bg-color: #fafafa;
 --opengpts-chat-page-bg-elps-1-op: 0.4;
 --opengpts-chat-page-bg-elps-2-op: 0.4;
 --opengpts-chat-page-bg-elps-3-op: 0.2;
 --opengpts-chat-page-bg-elps-4-bg-color: var(--opengpts-chat-page-bg-color);
 --opengpts-chat-page-main-border: 1px solid transparent;
 --opengpts-chat-ai-bubble-bg-color: var(--opengpts-switchbar-bg-color);
 --opengpts-chat-user-bubble-color: rgba(var(--opengpts-bg-rgb), 0.9);
 --opengpts-chat-user-bubble-prompt-color: rgba(var(--opengpts-bg-rgb), 0.5);
 --opengpts-chat-primary-color: #784dca;
 --opengpts-chat-primary-opacity-color: rgba(139, 87, 234, 0.75);
 --opengpts-chat-primary-bg-color: #e8ddfb;
 --opengpts-chat-func-bg-color: #fff7ea;
 --opengpts-chat-error-color: #f44336;
 --opengpts-chat-wel-bg-color: rgba(138, 87, 234, 0.05);
 --opengpts-chat-new-btn-bg-color: #ede7f6;
 --opengpts-chat-send-btn-hover-color: #b083f7;
 --opengpts-chat-ai-bubble-sup-bg-color: rgb(139 87 234 / 23%);
 --opengpts-dropdown-item-hover-bg-color: rgba(0, 0, 0, 0.04);
 --opengpts-dropdown-item-selected-color: #e6f4ff;
 --opengpts-dropdown-item-selected-hover-bg-color: #bae0ff;
 --opengpts-chatgpt-msg-block-bg-color: #eae6e6;
 --opengpts-chatgpt-msg-block-running-bg-color: rgb(220, 252, 231);
 --opengpts-chatgpt-msg-block-hover-bg-color: #e7e7e9;
 --opengpts-quote-bg-color: rgba(25, 25, 26, 0.09);
 --opengpts-quote-popup-bg-color: #e5e5e9;
 --opengpts-file-action-btn-bg-color: white;
 --opengpts-compose-opts-bg-color: #f8f7f8;
 --opengpts-compose-opts-btn-bg-color: white;
 --opengpts-compose-check-group-item-color: rgba(var(--opengpts-fg-rgb), 0.6);
 --opengpts-translate-customization-tips-color: rgba(var(--opengpts-fg-rgb), 0.4);
 --opengpts-translate-resultbox-bg-color: #f0f1f5;
 --opengpts-translate-resultbox-border-color: #e9e9ef;
 --opengpts-OCR-box-bg-color: #f0f1f5;
 --opengpts-OCR-border-color: #ededf4;
 --opengpts-OCR-drop-bg-color: rgba(232, 221, 251, 0.4);
 --opengpts-enchance-bg-color: #fff;
 --opengpts-quick-action-bg-color: #fff;
 --opengpts-quick-action-bg-color-2: #f7f7f8;
 --opengpts-quick-action-btn-bg-color: #e0e1e5;
 --opengpts-quick-action-border-color: #e9e9ef;
 --opengpts-quick-action-item-selected-bg-color: #e8ddfb;
 --opengpts-fg-rgb: 0, 0, 0;
 --opengpts-bg-rgb: 255, 255, 255;
 --opengpts-topmost-zindex: 2147483647;
 --opengpts-switchbar-bg-color: #f0f1f5;
 --opengpts-switchbar-btn-hover-bg-color: #e9e9ef;
 --opengpts-switchbar-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
 --opengpts-fivestar-bg-color: #fefefe;
 --opengpts-fivestar-feedback-btn-bg-color: #f5f5f5;
 --opengpts-upgrade-modal-list-bg-color: rgba(197, 171, 245, 0.1);
 --opengpts-upgrade-modal-title-bg: linear-gradient(0deg, rgba(50, 197, 255, 1), rgba(182, 32, 224, 1));
 --opengpts-upgrade-modal-title-bg-color: linear-gradient(153deg, #e7effe 0%, #f0eafc 0%, #fff 44.24%), #c4c4c4;
 --opengpts-upgrade-modal-rockets-bg: linear-gradient(90deg, rgba(197, 171, 245, 0.3) 0%, rgba(197, 171, 245, 0) 100%);
 
}

